<div class="container">
    <H1>PCP Calculator</H1>
    <p>Enter your details below to calculate your estimated PCP finance monthly payments</p>
    <div class="well">
    <form [formGroup]="pcpFormGroup">
        <div class="form-group">
            <label for="cost">Cost</label>
            <input id="cost" formControlName="cost" type="number" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="months">Months</label>
            <input id="months" formControlName="months" type="number" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="interest">Interest</label>
            <input id="interest" formControlName="interest" type="number" class="form-control">
            <div [hidden]="true" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="gmfv">GMFV</label>
            <input id="gmfv" formControlName="gmfv" type="number" class="form-control">
            <div [hidden]="true" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="deposit">Deposit</label>
            <input id="deposit" formControlName="deposit" type="number" class="form-control">
            <div [hidden]="true" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="dealer">Dealer Deposit</label>
            <input id="dealer" formControlName="dealer" type="number" class="form-control">
            <div [hidden]="true" class="alert alert-danger"></div>
        </div>
        <button type="button" class="btn btn-success" [disabled]="this.pcpFormGroup.invalid" (click)="submitForm()">Submit</button>
        &nbsp;
        <button class="btn btn-info" (click)="resetForm()">Reset</button>
    </form>
</div>
    <!-- <app-ga-banner></app-ga-banner> -->
    <app-pcp-result [result]="result"></app-pcp-result>
    <app-detail></app-detail>
</div>
