<div class="row">
    <div class="col-12">
        <div class="card">
            <h2>What is personal contract purchase (PCP)?</h2>
            <p>
                PCP (Personal Contract Purchase) finance is a method of buying a car where you pay for a portion of the value over an agreed period of time.
                At the end of the term you can either pay the final value (GMFV) and own the car, or trade the car in and use any equity towards the cost of the next vehicle.
            </p>
            <p>
                Car leasing (lease hire or PCH) is similar to PCP however the car will usually be returned at the end of the agreement with no option to purchase.
            </p>
            <p>
                Simply enter the details above and your monthly payment will be calculated. This PCP finance calculator can be used as an alternative to a pcp finance calculator spreadsheet for ease of use on mobile and tablet.
            </p>
        </div>
        <div>
            <h2>How does PCP finance differ from a regular car loan?</h2>
            <p>With a traditional car loan you enter into an agreement to repay the total value of the car over a set term. 
                For example if the car cost £1200, and you repaid over 1 year and the interest was 0% then the repayment would be £100 per month (1200 <span>&#247;</span> 12).
            At the end of the year the full loan would be repaid and you would own the car outright. </p>
            <p>With a PCP loan, the difference is that instead of repaying the full balance over the term, only a portion is repaid.
                 This makes puchasing a more expensive car much more affordable due to the lower monthly costs. It is however, generally more expensive if you wish to own the car outright.
                A PCP example, a car costing £30000 if it had a guaranteed future value of £15000, then the monthly repayments are only the difference between the two, plus the interest acrued.
                EG The repayments over 36 months would be £557 per month, whereas a repayment loan would be £924 per month for the same car.
                </p>
                <h2>What's the catch?</h2>
                <p>It may seem a no brainer to go for the PCP due to the lower payments, and in some cases it is, however, after the term is up you still don't own the car. 
                    You can either pay the guaranteed furture value, at which point the car is yours, or you can opt to hand it back to the dealer.
                </p>
                <p>Ultimately it comes down to personal choice and circumnstances, if you plan to keep the car after it is repaid and you can afford the monthly repayments
                    then a normal repayment loan will work out cheaper. However, if you wish to hand the car back after the term and want to keep the montly payments down then PCP can suit.
                </p>
        </div>
    </div>
</div>